<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>Running</string>
		<key>Icon</key>
		<string>icon_activity_running</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Name</key>
		<string>Swimming</string>
		<key>Icon</key>
		<string>icon_activity_swimming</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Name</key>
		<string>Tennis</string>
		<key>Icon</key>
		<string>icon_activity_tennis</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>Name</key>
		<string>Walking</string>
		<key>Icon</key>
		<string>icon_activity_walking</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>Name</key>
		<string>Yoga</string>
		<key>Icon</key>
		<string>icon_activity_yoga</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Meditation</string>
		<key>Icon</key>
		<string>icon_activity_meditation</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>Name</key>
		<string>Football</string>
		<key>Icon</key>
		<string>icon_activity_football</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>Name</key>
		<string>Ping Pong</string>
		<key>Icon</key>
		<string>icon_activity_pingpong</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>Name</key>
		<string>Cycling</string>
		<key>Icon</key>
		<string>icon_activity_cycling</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>Name</key>
		<string>Working</string>
		<key>Icon</key>
		<string>icon_activity_working</string>
		<key>Type</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>Name</key>
		<string>Studying</string>
		<key>Icon</key>
		<string>icon_activity_design</string>
		<key>Type</key>
		<string></string>
	</dict>
</array>
</plist>
