<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>Eggs</string>
		<key>Icon</key>
		<string>icon_food_egg</string>
		<key>Type</key>
		<integer>5</integer>
        <key>ObjectId</key>
		<string>VvZkmnt0G9</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Name</key>
		<string>Milk</string>
		<key>Icon</key>
		<string>icon_food_milk</string>
		<key>Type</key>
		<integer>8</integer>
        <key>ObjectId</key>
		<string>rMXZd9Efil</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Name</key>
		<string>Pizza</string>
		<key>Icon</key>
		<string>icon_food_pizza</string>
		<key>Type</key>
		<integer>0</integer>
        <key>ObjectId</key>
		<string>XJ9J5bv1bu</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>Name</key>
		<string>Wine</string>
		<key>Icon</key>
		<string>icon_food_wine</string>
		<key>Type</key>
		<integer>8</integer>
        <key>ObjectId</key>
		<string>Y8vWnqpqYO</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>Name</key>
		<string>Tea</string>
		<key>Icon</key>
		<string>icon_food_tea</string>
		<key>Type</key>
		<integer>8</integer>
        <key>ObjectId</key>
		<string>KfrRiVpLzG</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Bread</string>
		<key>Icon</key>
		<string>icon_food_bread</string>
		<key>Type</key>
		<integer>0</integer>
        <key>ObjectId</key>
		<string>QaDYmfA3Sk</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>Name</key>
		<string>Beer</string>
		<key>Icon</key>
		<string>icon_food_beer</string>
		<key>Type</key>
		<integer>8</integer>
        <key>ObjectId</key>
		<string>YT9aRQNbmC</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>Name</key>
		<string>Coffee</string>
		<key>Icon</key>
		<string>icon_food_coffee</string>
		<key>Type</key>
		<integer>8</integer>
        <key>ObjectId</key>
		<string>uHCRkcLNEP</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>Name</key>
		<string>Cheese</string>
		<key>Icon</key>
		<string>icon_food_cheese</string>
		<key>Type</key>
		<integer>7</integer>
        <key>ObjectId</key>
		<string>fsvk9b9lVj</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>Name</key>
		<string>Vegetable</string>
		<key>Icon</key>
		<string>icon_food_vegetable</string>
		<key>Type</key>
		<integer>3</integer>
        <key>ObjectId</key>
		<string>4pD68Awuh0</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>Name</key>
		<string>Sugar</string>
		<key>Icon</key>
		<string>icon_food_sugar</string>
		<key>Type</key>
		<integer>4</integer>
        <key>ObjectId</key>
		<string>su8Qbb0ZHQ</string>
	</dict>
</array>
</plist>
