<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>Name</key>
		<string>Angry</string>
		<key>Icon</key>
		<string>icon_mood_angry</string>
		<key>Type</key>
		<integer>2</integer>
        <key>ObjectId</key>
		<string>uP34liDmU6</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>Name</key>
		<string>Confused</string>
		<key>Icon</key>
		<string>icon_mood_confused</string>
		<key>Type</key>
		<integer>2</integer>
        <key>ObjectId</key>
		<string>y3gWtnACIH</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Name</key>
		<string>Cool</string>
		<key>Icon</key>
		<string>icon_mood_cool</string>
		<key>Type</key>
		<integer>1</integer>
        <key>ObjectId</key>
		<string>r8XsvWuePP</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>Name</key>
		<string>Sad</string>
		<key>Icon</key>
		<string>icon_mood_sad</string>
		<key>Type</key>
		<integer>2</integer>
        <key>ObjectId</key>
		<string>TtPgZpkFRX</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>Name</key>
		<string>Happy</string>
		<key>Icon</key>
		<string>icon_mood_happy</string>
		<key>Type</key>
		<integer>0</integer>
        <key>ObjectId</key>
		<string>SkHKMXwKmW</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>Name</key>
		<string>In Love</string>
		<key>Icon</key>
		<string>icon_mood_inlove</string>
		<key>Type</key>
		<integer>0</integer>
        <key>ObjectId</key>
		<string>HA2B1ufNhW</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>Name</key>
		<string>Depressed</string>
		<key>Icon</key>
		<string>icon_mood_depressed</string>
		<key>Type</key>
		<integer>2</integer>
        <key>ObjectId</key>
		<string>GC2NrSacjO</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>Name</key>
		<string>Sleepy</string>
		<key>Icon</key>
		<string>icon_mood_sleepy</string>
		<key>Type</key>
		<integer>1</integer>
        <key>ObjectId</key>
		<string>miVVfMQeRc</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>Name</key>
		<string>Calm</string>
		<key>Icon</key>
		<string>icon_mood_calm</string>
		<key>Type</key>
		<integer>1</integer>
        <key>ObjectId</key>
		<string>3WYFH8rhGq</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>Name</key>
		<string>Shocked</string>
		<key>Icon</key>
		<string>icon_mood_shocked</string>
		<key>Type</key>
		<integer>2</integer>
        <key>ObjectId</key>
		<string>AtGgTAntzr</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>Name</key>
		<string>Nervous</string>
		<key>Icon</key>
		<string>icon_mood_nervous</string>
		<key>Type</key>
		<integer>2</integer>
        <key>ObjectId</key>
		<string>WmIh9on3Id</string>
	</dict>
</array>
</plist>
